body {
    color: #e1e1e1;
    background: transparent;
}

.timecard {
    background-color: #121117;
    border-radius: 10px;
    min-width: 463px;
    color: #c7c4d4;
    /* position: absolute;
    top: 30px;
    right: 30px; */
    display: flex;
    align-items: stretch;
}

.timecard > button {
    background-color: transparent;
    height: auto;
    padding: 0 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-right: solid 1px #5c5775;
}

i {
    color: #c7c4d4;
    font-size: 24px;
}

.details {
    flex: 1;
    padding: 36px 34px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.details p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
